.DS_Store
.env
*.bin
*.sqlite
run.sh
*.log
coverage/
node_modules/
tmp/
.idea
.vscode
src
tsconfig.json
.editorconfig
.prettierignore
.prettierrc
jest.config.js
.mocharc.json
*.spec.ts
rollup.config.mjs
.nodemon.json
.eslintrc.cjs